NODE_ENV=production
PORT=3000
HOSTNAME=0.0.0.0
NEXT_PUBLIC_WEB_URL=https://stage.mychurchflow.org
NEXT_PUBLIC_API_URL=https://api-stage.mychurchflow.org/v1
API_INTERNAL_URL=http://churchflow-stage-api:4000/v1
COOKIE_DOMAIN=.mychurchflow.org
JWT_ACCESS_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----\n"
